.header {
    /* 页面头部样式定义 */
    background-color: #514e4e; /* 白色背景，与页面浅灰背景分离 */
    border-radius: 8px; /* 圆角，现代感的标志 */
    align-items: center; /* 垂直方向居中对齐 */
    margin-bottom: 20px; /* 设置底部外边距为20像素，与下方内容产生间距 */
    box-shadow: 0 100px 10px rgba(0, 0, 0, 0.05); /* 细微的阴影，产生悬浮层次感 */
}

.header h1 {
    color: #fff; /* 白色文字，与深色背景形成对比 */
    font-size: 24px; /* 大号字体，提高可读性 */
    margin: 0; /* 去除默认的外边距 */
    padding: 20px; /* 内边距，增加头部高度 */
    text-shadow: 3px 3px 1px black;

}
.header nav {
    display: flex; /* 使用flex布局，让导航链接水平排列 */
    margin: 0; /* 去除默认的外边距 */
    padding: 0; /* 去除默认的内边距 */
    position: static;
}
.header a {
    color: #dfe8b4; /* 白色文字，与深色背景形成对比 */
    margin-left: 20px; /* 左侧外边距，增加链接之间的间距 */
}