main {
  background-color: #fff; /* 白色背景，与页面浅灰背景分离 */
  border-radius: 8px; /* 圆角，现代感的标志 */
  padding: 25px; /* 卡片内边距 */
  margin-bottom: 30px; /* 卡片之间的间距 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); /* 细微的阴影，产生悬浮层次感 */
}

main h2 {
  color: #000000;
  font-weight: 1210;
}